/* 메인 레이아웃 공통 S */
.layout-width {
    min-width: 1100px;
    max-width: 1300px;
    margin: 0 auto;
}

.content-box {
    min-width: 600px;
    max-width: 700px;
    min-height: 650px;
    margin: 50px auto;
    border-radius: 20px;
    padding-top: 200px; /* 위쪽 패딩 */
    padding-right: 100px; /* 오른쪽 패딩 */
    padding-bottom: 200px; /* 아래쪽 패딩 */
    padding-left: 100px; /* 왼쪽 패딩 */
}

.content-box h1 {
    font-size: 1.5rem; /* 회원가입 글씨크기*/
    line-height: 1;
    padding: 0 0 15px;
    margin: 0 0 20px;
}
/* 메인 레이아웃 공통 E */

/* 사이트 헤더 영역 S */
header .site-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #FFF;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.3);
}
/* 사이트 헤더 영역 E */

/* 사이트 푸터 영역 S */
footer {
    margin-top: 100px;
    min-height: 250px;
    background: #000000;
    border-top: 1px solid #000;
}
/* 사이트 푸터 영역 E */