main {
    margin: 0;
    background: url(https://lh3.googleusercontent.com/6LjkWcXFt4Ef2E_BnLIrmQNWUpdiBnG6LYpbwlDt0h36hcBRYyK4VwE-y70ruPWyDDNlVcsPZiXB44cxiOGc=s0) center center;
    background-size: cover;
    padding: 50px 0;
}

.board{
    font-family: "Jua", sans-serif;
}

/* 게시판 헤더영역 S */
div.board-top{
    display: flex;
    justify-content: center; /* 오른쪽 정렬 */
    padding: 20px; /* 컨테이너 패딩 */
}



.button-write button {
    justify-content: center; /* 버튼을 중앙 정렬합니다 */
    align-items: center; /* 버튼 내의 텍스트를 수직으로 중앙 정렬합니다 */
    width: 100px;  /* 원하는 너비 설정 */
    font-family: "Jua", sans-serif;
    height: 35px;  /* 원하는 높이 설정 */
    color: #ffffff;  /* 텍스트 색상 설정 */
    background: #000000;
    border: none;  /* 테두리 제거 */
    cursor: pointer;  /* 마우스 커서 설정 */
    text-align: center;  /* 텍스트 중앙 정렬 */
    line-height: 35px;  /* 버튼 높이와 동일하게 설정하여 텍스트 수직 중앙 정렬 */
}

.button-search button {
    width: 100%;  /* 부모 요소의 너비를 상속 */
    height: 100%;  /* 부모 요소의 높이를 상속 */
    background: inherit;  /* 부모 요소의 배경색 상속 */
    color: inherit;  /* 부모 요소의 텍스트 색상 상속 */
    border: none;  /* 테두리 제거 */
    padding: 0;  /* 패딩 제거 */
    margin: 0;  /* 마진 제거 */
    cursor: inherit;  /* 부모 요소의 커서 스타일 상속 */
    line-height: inherit;  /* 부모 요소의 line-height 상속 */
}
/* 게시판 헤더영역 E */

/* 게시판 바디영역 S */
.border-body{
    line-height: 45px;
    margin : 10px;
    display: flex;
    justify-content: center;
}

._listA{
    border-collapse: collapse;
    background: #fff;
}

th{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 0;
    padding: 0;
}

th.no{
    width: 40px;
}
th.title{
    width: 600px;
}
th.name{
    width: 150px;
}
th.date{
    width: 120px;
}

td{
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

td.title{
    text-align: left;
}

/*게시판 하단*/

form.search{
    display: flex;
    justify-content: center;
}

search.keyword{
    align-content: center;
    align-items: center;
}
input.keyword{
    width: 400px;
    height: 30px;
}

.button-search {
    display: flex; /* 버튼을 flex 컨테이너로 만듭니다 */
    justify-content: center; /* 버튼을 중앙 정렬합니다 */
    align-items: center; /* 버튼 내의 텍스트를 수직으로 중앙 정렬합니다 */
    width: 40px;  /* 원하는 너비 설정 */
    height: 35px;  /* 원하는 높이 설정 */
    color: #ffffff;  /* 텍스트 색상 설정 */
    background: #000000;
    border: none;  /* 테두리 제거 */
    cursor: pointer;  /* 마우스 커서 설정 */
    text-align: center;  /* 텍스트 중앙 정렬 */
    line-height: 35px;  /* 버튼 높이와 동일하게 설정하여 텍스트 수직 중앙 정렬 */
}

.button-search button {
    width: 100%;  /* 부모 요소의 너비를 상속 */
    height: 100%;  /* 부모 요소의 높이를 상속 */
    background: inherit;  /* 부모 요소의 배경색 상속 */
    color: inherit;  /* 부모 요소의 텍스트 색상 상속 */
    border: none;  /* 테두리 제거 */
    padding: 0;  /* 패딩 제거 */
    margin: 0;  /* 마진 제거 */
    cursor: inherit;  /* 부모 요소의 커서 스타일 상속 */
    line-height: inherit;  /* 부모 요소의 line-height 상속 */
    font-family: "Jua", sans-serif;
}


