/* 컨텐츠 박스*/
.content-box {
    background-color: #eae4e4;
    max-width: 700px;
    min-width: 700px;
    min-height: 600px;
    margin: -15px auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    font-family: "Jua", sans-serif; /* 기본 폰트, 대체 폰트 */
}

/* 포켓몬 이미지*/
.pokemon {
    filter: brightness(13%);
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin:0 auto;
}
/* 포켓몬 이름 */
.pokemonName {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Jua", sans-serif;
    margin:0px auto 0 auto;
}





/* 포켓몬 설명 및 무게 */
.content, .weight {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.4rem;
}

/* 제출 버튼 */
.submitBtn {
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #da343c;
    width: 150px;
    color: #fff;
}

/* 배경화면 */
main {
    margin: 0;
    background: url("../images/pokemonGameBack.jpg") center center;
    background-size: contain;
    padding: 50px 0;
}

/* 내용물 플렉스 설정 */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

/* 화살표 */
.arrow {
    filter: brightness(200%);
    margin-left: -10px;
    min-width: 280px;
    max-height: 230px;
    padding-left: 10px;
}

/* 오박사 사진 */
.o {
    display: flex;
    padding-bottom: 430px;
    padding-left: 100px;
}

.reButton {
    background-color: #bbc5bc;
    border: none;

}

.message {
    color: #da343c;
}


/* 포켓몬 타입 컬러  S */


/* 포켓몬 타입 공통 */
.pokemonType {
    display: flex;
    justify-content: center;
    margin:0 auto;
    font-size: 1.3rem;
    text-decoration-color: #ededed;
}



/* 타입별 지정 S */
.type1 {
    width: 10%;
    margin-right: 10px;
    border-radius: 7px;
    border: 1px solid black;
    color: #ececec;
    font-weight: lighter;
}

.type2 {
    width: 10%;
    border-radius: 7px;
    border: 1px solid black;
    color: #ececec;
    font-weight: lighter;
}
/* 타입별 지정 E */

.normal { background-color: #949495; }
.fire { background-color: #e56c3e; }
.water { background-color: #5185c5; }
.grass { background-color: #66a945; }
.electric { background-color: #f6d851; }
.ice { background-color: #6dc8eb; }
.fighting { background-color: #e09c40; }
.poison { background-color: #735198; }
.ground { background-color: #9c7743; }
.flying { background-color: #a2c3e7; }
.psychic { background-color: #dd6b7b; }
.bug { background-color: #9fa244; }
.rock { background-color: #bfb889; }
.ghost { background-color: #684870; }
.dragon { background-color: #535ca8; }
.dark { background-color: #4c4948; }
.steel { background-color: #69a9c7; }
.fairy { background-color: #dab4d4; }
.X { background-color: #cccccc; color: black; }
/* 포켓몬 타입 컬러  E */

