/* 메인 레이아웃 공통 */
.layout-width {
    min-width: 1100px;
    max-width: 1300px;
    margin: 0 auto;
}

/* 사이트 헤더 영역 S */
header .site-top {
    background: #FFF;
    border-bottom: 1px solid #000;
}

nav {
    display: flex;
    height: 45px;
    background: #000;
    font-family: "Jua", sans-serif; /* 기본 폰트, 대체 폰트 */
}

nav > .inner a {
    font-size: 1.8rem;
    color: #fff;
    padding: 0 25px;
    line-height: 45px;
    text-decoration-line: none;
}
/* 사이트 헤더 영역 E */

/* 푸터 영역 S */
.site-bottom {
    background: #000;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.site-bottom div {
    text-align: center;
    padding: 10px 0;
}

.site-bottom img {
    max-width: 300px;
    vertical-align: middle;
}

/* 푸터 영역 E */