@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Jua&display=swap'); /* 공통 폰트 설정 */

.dn { display: none !important; }
body {
    margin: 0;
}

ul, ol { list-style: none; }

/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    border: 1px solid #333;
    display: inline-block;
    text-decoration-line: none;
    padding: 5px 10px;
    border-radius:3px;
    font-family: "Jua", sans-serif;
    font-size: 1.25rem;
    color: #000;
}
.pagination a.on {
    background: #000;
    color: #fff;
}
/* 페이징 공통 E */

/* 에러 페이지 S */
.error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.error-container.e401 {
    background: #000 url("../images/401ErrorPage.png") no-repeat center top;
    background-size: cover;
}

.error-container.e404 {
    background:#000 url("../images/404ErrorPage.png") no-repeat center top;
    background-size: cover;
}

.error-container.e500 {
    background:#000 url("../images/500ErrorPage.png") no-repeat center top;
    background-size: contain;
}
/* 에러 페이지 E */