@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

main .pokemon-view {
    background: url(https://www.pokemonkorea.co.kr/img/bg_pattern2.jpg) repeat;
}

.pokemon-view { /* 섹션 레이아웃 설정 */
    font-family: "Jua", sans-serif;
    padding: 30px 25px 25px 25px;
    position: fixed;
    width: 100%;
    height: calc(100% - 181px);
    top: 117px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-view * {
    box-sizing: border-box;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #BCC8CC;
    border: 2px solid #B1B6B7;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #7C7379;
}

.each-pokemon { /* 포켓몬 이미지 위치 설정 */
    display: flex;
    justify-content: center;
    margin: 30px 90px 30px 30px;
}

.each-pokemon img { /* 포켓몬 이미지 최대 너비, 높이 설정 */
    max-width: 100%;
    height: auto;
    background-color: #FFF;
    border: 2px solid #DADADA;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #B1B6B7; /* box-shadow 색상 : #B2BEB5*/
    cursor: pointer;
}

.pokemon-info { /* 포켓몬 정보 설정 */
    width: 80%;
    max-width: 750px;
    border: 2px solid #DADADA; /* 경계선 색상 : */
    border-radius: 15px;
    padding: 20px;
    background-color: #e8e8e8; /* 정보 상자 배경 색상 */
    margin: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
}

.p-item {
    border: 2px solid #FAF7F1; /* 각 설명 항목에 테두리 추가 */
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px; /* 항목 사이의 간격 */
    background-color: #ffffff;
}

.pokemon-info div { /* 각 정보 항목 하단 설정 */
    margin-bottom: 10px;
}

.p-number, .p-name, .p-weight, .p-type, .p-desc {
    font-size: 1.5rem;
    font-weight: 400;
}

.pokemon-info .p-desc {
    flex-grow: 1;
    display: flex;
    align-items:  center;
}

.pokemon-info .p-desc > .inner {
    max-width: 480px;
    margin: 0 auto;
}