.pokemon-title-container, .search-form { /* 도감 목록 보기 */
    display: flex;
    justify-content: center;
    padding: 0 30px;
    font-family: "Jua", sans-serif;
    font-size: 1.8rem;
}

.search-form input[type="text"] { /* 포켓몬 검색 창 내부 글자 */
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.search-form button { /* 포켓몬 검색 버튼 */
    padding: 5px 10px;
    font-size: 1rem;
}

.search-form {
    margin-top: 15px; /* 도감 목록 보기와 간격 조정 */
}

.search-form label { /* 글자 : 포켓몬 검색 */
    font-weight: bold;
    padding: 25px 7px 10px 0;
}

.image { /* 검색 창 옆 이미지 */
    padding: 15px;
    width: 65px;
    height: 65px;
}

.pokemon-title { /* 도감 목록 보기 글자 및 배경 */
    text-align: center;
    font-size: 2rem;
    font-width: 700;
    color: #000;
    margin-bottom: 10px;
    background: #F9D664; /* #FFC81E #FFD971 */
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.pokemon-list { /* 포켓몬 목록 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.pokemon-list > li { /* 포켓몬 목록 1줄 당 수 */
    width: calc(100% / 6);
    padding: 10px 10px 15px;
}

.pokemon-list > li a { /* 포켓몬 목록 카드화 */
    display: block;
    box-shadow: 2px 2px 10px #86A1A9; /* #333 #93B7D5 */
    border-radius: 10px;
    padding: 15px;
    text-decoration-line: none;
    color: #000;
}

.pokemon-list > li img { /* 포켓몬 이미지 */
    width: 100%;
    display: block;
}

.pokemon-list > li .p-number { /* 포켓몬 이미지 위 숫자 부분 */
    text-align: right;
    margin-bottom: 6px;
    font-size: 1rem;
    font-family: "Jua", sans-serif;
    font-width: 400;
    font-weight: bold;
}

.pokemon-list > li .p-name { /* 포켓몬 이미지 아래 이름 부분 */
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-family: "Jua", sans-serif;
    font-width: 400;
    font-weight: normal;
    background-color: #AAD1E7; /* #47B7DC #71B5D1 */
    border-radius: 6px;
}