.pokemon-title-container, .search-form { /* 도감 목록 보기 */
    display: flex;
    justify-content: center;
    padding: 0 30px 15px;
    font-family: "Jua", sans-serif;
    font-size: 1.8rem;
}

.search-form button { /* 포켓몬 검색 버튼 */
    padding: 15px 10px;
    font-size: 1.2rem;
    font-family: "Jua", sans-serif;
    background-color: #000; /* 버튼의 배경색을 파란색으로 설정 */
    color: white; /* 버튼의 텍스트 색상을 흰색으로 설정 */
    border: none; /* 버튼의 테두리를 없앰 */
    border-radius: 5px;
    cursor: pointer;
}

.pokemonName {
    font-family: "Jua", sans-serif;
    font-size: 1.3rem;
    padding-left: 350px;
    padding-right: 350px;
    border-radius: 5px;
}

.search-form {
    margin-top: 15px; /* 도감 목록 보기와 간격 조정 */
}

.search-form label { /* 글자 : 포켓몬 검색 */
    font-weight: bold;
    padding: 25px 7px 10px 0;
}

.image { /* 검색 창 옆 이미지 */
    padding: 15px;
    width: 60px;
    height: 60px;
}

.pokemon-title { /* 도감 목록 보기 글자 및 배경 */
    text-align: center;
    font-size: 2rem;
    font-width: 700;
    color: #000;
    margin-bottom: 10px;
    background: #F9D664; /* #FFC81E #FFD971 */
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
}

.pokemon-list { /* 포켓몬 목록 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.pokemon-list > li { /* 포켓몬 목록 1줄 당 수 */
    width: calc(100% / 6);
    padding: 10px 10px 15px;
}

.pokemon-list > li a { /* 포켓몬 목록 카드화 */
    display: block;
    box-shadow: 2px 2px 10px #86A1A9; /* #333 #93B7D5 */
    border-radius: 10px;
    padding: 15px;
    text-decoration-line: none;
    color: #000;
}

.pokemon-list > li img { /* 포켓몬 이미지 */
    width: 100%;
    display: block;
}

.pokemon-list > li .p-number { /* 포켓몬 이미지 위 숫자 부분 */
    text-align: right;
    margin-bottom: 6px;
    font-size: 1rem;
    font-family: "Jua", sans-serif;
    font-width: 400;
    font-weight: bold;
}

.pokemon-list > li .p-name { /* 포켓몬 이미지 아래 이름 부분 */
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-family: "Jua", sans-serif;
    font-width: 400;
    font-weight: normal;
    background-color: #AAD1E7; /* #47B7DC #71B5D1 */
    border-radius: 6px;
}

.pokemon-list > li .p-types {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pokemon-list > li .p-type {
    flex-grow: 1;
    width: 0;
    letter-spacing: -1px;
    line-height: 22px;
    height: 20px;
}

.pokemon-list > li .p-type + .p-type {
    margin-left: 5px;
}

.pokemon-list > li .p-type1, .p-type2 {
    text-align: center;
    font-size: 0.85rem;
    font-family: "Jua", sans-serif;
    font-weight: normal;
}

.p-type1 {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 1px;
    color: #fff;
    background-color: #90B19D;
    font-weight: lighter;
}

.p-type2 {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 1px;
    color: #fff;
    background-color: #90B19D;
    font-weight: lighter;
}

/* 포켓몬 속성 별 색상 설정 S */

.pokemon-list > li .p-type.normal {
    background: #949495;
}

.pokemon-list > li .p-type.fire {
    background: #e56c3e;
}

.pokemon-list > li .p-type.water {
    background: #5185c5;
}

.pokemon-list > li .p-type.grass {
    background: #66a945;
}

.pokemon-list > li .p-type.electric {
    background: #f6d851;
}

.pokemon-list > li .p-type.ice {
    background: #6dc8eb;
}

.pokemon-list > li .p-type.fighting {
    background: #e09c40;
}

.pokemon-list > li .p-type.poison {
    background: #735198;
}

.pokemon-list > li .p-type.ground {
    background: #9c7743;
}

.pokemon-list > li .p-type.flying {
    background: #a2c3e7;
}

.pokemon-list > li .p-type.psychic {
    background: #dd6b7b;
}

.pokemon-list > li .p-type.bug {
    background: #9fa244;
}

.pokemon-list > li .p-type.rock {
    background: #bfb889;
}

.pokemon-list > li .p-type.ghost {
    background: #684870;
}

.pokemon-list > li .p-type.dragon {
    background: #535ca8;
}

.pokemon-list > li .p-type.dark {
    background: #4c4948;
}

.pokemon-list > li .p-type.steel {
    background: #69a9c7;
}

.pokemon-list > li .p-type.fairy {
    background: #dab4d4;
}

.pokemon-list > li .p-type.X {
    background: #000;
}

/* 포켓몬 속성 별 색상 설정 E */