@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

dl {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

dt, dd {
    margin: 0;
    padding: 5px;
}

dt {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

dd {
    flex: 2;
    text-align: left;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 5px;
    font-family: "Jua", sans-serif; /* 동일한 폰트로 설정 */
}

button {
    font-family: "Jua", sans-serif; /* 동일한 폰트로 설정 */
}

label {
    font-family: "Jua", sans-serif; /* 동일한 폰트로 설정 */
}