/* 게시판 공통 */
main {
    min-height: 750px;
}

footer {
    margin-top: 100px;
}

/* 게시판 상단 S */
.body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.board-top {
    margin-top: 50px;
    color: black;
    text-align: center;
    border-bottom: 3px solid #393939;
    //border-radius: 10px; /* 원하는 둥근 정도 설정 */
}

.board-top .location {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left; /* 왼쪽 정렬 설정 */
}

.board-top .location a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bolder;
}

.board-top .location a:hover {
    text-decoration: none; /* HOME 링크의 밑줄 제거 */
}

.board-top h1 {
    font-size: 30px;
    text-align: left; /* 왼쪽 정렬 설정 */
    padding-bottom: 13px;
    padding-top: 13px;
    margin: 0;
}
/* 게시판 상단 E */