/* 게시판 공통 */

/* 게시판 상단 S */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.board-top {
    background-color: #FFDE00;
    color: black;
    padding: 10px;
    text-align: center;
    //border-bottom: 2px solid #3e8e41;
}

.board-top .location {
    font-size: 14px;
    margin-bottom: 10px;
}

.board-top .location a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bolder;
}

.board-top .location a:hover {
    text-decoration: underline;
}

.board-top h1 {
    font-size: 24px;
    margin: 0;
}

@media (max-width: 600px) {
    .board-top {
        padding: 15px;
    }

    .board-top h1 {
        font-size: 20px;
    }

/* 게시판 상단 E */