/* 글 목록 페이지 */
.view-page {
    padding: 20px; /* 내부 여백 설정 */
    margin-top: 20px; /* 위쪽 여백 설정 */
}

/* 제목 스타일 */
.subject {
    font-size: 24px; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 두껍게 설정 */
    color: #333; /* 글자 색상 설정 */
    margin-bottom: 10px; /* 아래 여백 설정 */
    text-align: left; /* 왼쪽 정렬 설정 */
    padding-top: 30px;
}

/* 포스트 정보 스타일 */
.post-info {
    margin-bottom: 15px; /* 아래 여백 설정 */
}

.post-info .left {
    float: left; /* 왼쪽 정렬 */
    font-size: 14px; /* 글자 크기 설정 */
    color: #666; /* 글자 색상 설정 */
}

.post-info .right {
    float: right; /* 오른쪽 정렬 */
    font-size: 14px; /* 글자 크기 설정 */
    color: #666; /* 글자 색상 설정 */
}

/* 내용 스타일 */
.content {
    margin-bottom: 20px; /* 아래 여백 설정 */
    line-height: 1.6; /* 줄간격 설정 */
    border-radius: 3px;
    border: #828282	 2px solid;

}

/* 링크 스타일 */
.links {
    margin-top: 20px; /* 위쪽 여백 설정 */
}

.links a {
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로 배치 */
    margin-right: 10px; /* 링크 간격 설정 */
    padding: 8px 16px; /* 내부 여백 설정 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 14px; /* 글자 크기 설정 */
    color: #fff; /* 글자 색상 설정 */
    background-color: black; /* 배경색 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
}

.links a:hover {
    background-color: #da343c ; /* 호버 시 배경색 변경 */
}