<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.member.mapper.MemberMapper">
    <resultMap id="memberMap" type="org.choongang.member.entities.Member">
        <result column="USER_NO" property="userNo" />
        <result column="USER_ID" property="userId" />
        <result column="PASSWORD" property="password" />
        <result column="USER_TYPE" property="userType" />
        <result column="NICKNAME" property="nickName" />
        <result column="MY_POKEMON_SEQ" property="myPokemonSeq" />
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE USER_ID=#{userId}
    </select>

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE USER_ID=#{userId}
    </select>

    <insert id="register">
        INSERT INTO MEMBER (USER_NO, USER_ID, PASSWORD, USER_TYPE, NICKNAME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{userId}, #{password}, #{userType}, #{nickName})
    </insert>

    <update id="modify">
        UPDATE MEMBER
        <set>
            <if test="nickName != null and !nickName.equals('')">
                NICKNAME=#{nickName},
            </if>
            <if test="password != null and !password.equals('')">
                PASSWORD=#{password},
            </if>
            MY_POKEMON_SEQ=#{myPokemonSeq}
        </set>
        WHERE USER_ID=#{userId}
    </update>

    <update id="adminModify">
        UPDATE MEMBER
        <set>
            <if test="nickName != null and !nickName.equals('')">
                NICKNAME=#{nickName},
            </if>
            <if test="password != null and !password.equals('')">
                PASSWORD=#{password},
            </if>
            <if test="userType != null and !userType.equals('')">
                USER_TYPE=#{userType},
            </if>
        </set>
        WHERE USER_ID=#{userId}
    </update>
</mapper>